@import '../waybar/colors.css';

* {
	background-image: none;
	box-shadow: none;
	font-family: "GohuFont 14 NerdFont", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window {
	font-size:24px;
	color: @primary;
	background-color: @background;
}

button {
    border-radius: 0;
    border-color: transparent;
    text-decoration-color: @inverse_surface;
    color: @primary;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: @background;
    outline-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

button:focus {
	background-size: 40%;
	outline-style: none;
}

button:active, button:hover {
	/* background-color: @inverse_primary; */
	/* outline-style: none; */
    color: @primary;
    background-size: 40%;
    margin: 20px;
    outline-style: none;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
