@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "GohuFont 14 NerdFont";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @background;
    border: 2px solid @invert_surface;
    border-radius: 4px;
    color: @primary;
}

tooltip {
    background-color: @background;
    border: 2px solid @invert_surface;
    font-size: 2px;
    color: @primary;
}

tooltip label {
	margin: 8px;
}

#clock,
#tray,
/* #cpu, */
/* #memory, */
#battery,
#network,
#pulseaudio,
#language,
#backlight,
/* #temperature { */
#mem{

    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: @background;
    border: 2px solid @invert_surface;
    color: @primary;

}

#cpu,
#memory,
#temperature {
    margin-left: 10px;
}


#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @primary;
    background-color: @background;
    border: 2px solid @invert_surface;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: @background;
    background-color: @primary;
}

#workspaces button.urgent {
    background-color: @on_tertiary_container;
    color: #000000;
    border: 2px solid @tertiary_container;
}

#clock {
    background-color: @background;
    border: 2px solid @invert_surface;
    color: @primary;
}

#cpu,
#memory,
#battery,
#pulseaudio {
	min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: @on_error;
    border: 2px solid @on_error_container;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #cccc7c;
    border: 2px solid @on_tertiary_container;
}

